[submodule "40223205"]
	path = 40223205
	url = https://github.com/40223205/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423225"]
	path = 40423225
	url = https://github.com/40423225/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423231"]
	path = 40423231
	url = https://github.com/40423231/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423240"]
	path = 40423240
	url = https://github.com/40423240/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423250"]
	path = 40423250
	url = https://github.com/40423250/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40223206"]
	path = 40223206
	url = https://github.com/s40223206/2016fallcadp_hw.git
	branch = gh-pages
